@model VoitureModel
@{
    ViewData["Title"] = "GetCar";
}

<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">@Model.Marque</h5>
        <p class="card-text">@Model.Modele</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">@Model.CodeVin</li>
        <li class="list-group-item">@Model.Annee</li>
        <li class="list-group-item">@Model.Finition</li>
    </ul>
    <div class="card-body">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
    </div>
</div>
