@model VoitureModel
@{
    ViewData["Title"] = "Afficher une voiture";
}

<div>
    <h1 class="text-center">La voiture @Model.CodeVin</h1>

    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">@Model.Marque</h5>
            <p class="card-text">@Model.Modele</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class=" list-group list-group-flush">@Model.CodeVin</li>
 
            <li class="list-group-item">@Model.Annee</li>
            <li class="list-group-item">@Model.Finition</li>
        </ul>
        <div class="card-body">
            <a asp-controller="Car" asp-action="Delete" asp-route-codeVin="@Model.CodeVin" class="btn btn-primary">Supprimer</a>
            <a asp-controller="Car" asp-action="Read" asp-route-codeVin="@Model.CodeVin" class="btn btn-primary">Modifier</a>
        </div>
    </div>
</div>